[submodule "What2Eat-frontend-agent-chat-ui"]
	path = What2Eat-frontend-agent-chat-ui
	url = git@github.com:NUS-AIS-Practice-Modules/What2Eat-frontend-agent-chat-ui.git
[submodule "WhatsEat-backend-LangGraph-supervisor-py"]
	path = WhatsEat-backend-LangGraph-supervisor-py
	url = git@github.com:NUS-AIS-Practice-Modules/WhatsEat-backend-LangGraph-supervisor-py.git
